# Terraform ignores
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars.json # Optional: ignore sensitive variables in JSON format
override.tf # Optional: ignore override files

# VS Code ignores
.vscode/

# macOS ignores
.DS_Store

# Terraformer ignores (if used)
# Terraformer often creates directories like generated/ or <provider>/
# Depending on your workflow, you might want to ignore these
# generated/
# aws/
# azure/
# google/
